.btnCreate {
    margin: 1rem 2rem;
}

.formMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 2rem;
    padding: 0 11rem;
    gap: 1.5rem;
}

.btnCreate {
    background-color: #3e5c55b5;
    color: white;
    transition: all 0.2s ease;
}

.btnCreate:hover {
    background-color: #00e6b0b5;
}

.card {
    background-color: var(--table-bg-color);
    width: 90%;
    border-radius: 5px;
    margin-bottom: 3.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.cardTitle {
    font-weight: bold;
    font-size: 1.05rem;
    text-align: center;
    padding: 0.5rem 0rem;
    border-radius: 2px;
    font-style: italic;
    background-color: #01884b;
    width: 100%;
    color: white;
}

.cardSubTitle {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
}

.cardQuantity {
    font-weight: bold;
    font-size: 1.1rem;
}

.cardBtnContainer {
    display: flex;
    padding-bottom: 1rem;
    gap: 0.6rem;
    padding-right: 0.5rem;
    justify-content: center;
}

.cardViewBtn {
    background-color: #1a1a1a;
    padding: 0.2rem 1rem;
    transition: all 0.2s ease;
}

.cardViewBtn:hover {
    background-color: #2d2d2d;
}

.cardEditBtn {
    background-color: #4d4d4d;
    padding: 0.2rem 1rem;
    transition: all 0.2s ease;
}

.cardEditBtn:hover {
    background-color: #6d6d6d;
}

.cardDeleteBtn {
    background-color: #880101;
    padding: 0.2rem 1rem;
    transition: all 0.2s ease;
}

.cardDeleteBtn:hover {
    background-color: #ab0000;
}

.formsEmpty {
    text-align: center;
    margin-top: 6rem;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
}

.warningContainer {
    display: flex;
    gap: 0.6rem;
    align-items: center;
}

.warningDelete {
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    font-style: italic;
}