.btnCreate {
    margin: 1rem 2rem;
}

.formMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 2rem;
    padding: 0 11rem;
}

.btnCreate {
    background-color: #3e5c55b5;
    color: white;
    transition: all 0.2s ease;
}

.btnCreate:hover {
    background-color: #00e6b0b5;
}

.card {
    background-color: var(--table-bg-color);
    width: 17rem;
    height: 11rem;
    border-radius: 5px;
    margin-bottom: 3.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.cardTitle {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    text-align: center;
    background-color: #0029b138;
    padding: 0.5rem 0;
    border-radius: 2px;
    font-style: italic;
}

.cardSubTitle {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    padding-top: 0.7rem;
}

.cardQuantity {
    font-weight: bold;
    font-size: 1.1rem;
}

.cardBtnContainer {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
    gap: 0.6rem;
    padding-right: 0.5rem;
    justify-content: center;
}

.cardViewBtn {
    background-color: #1a1a1a;
    padding: 0rem 0.8rem;
    transition: all 0.2s ease;
}

.cardViewBtn:hover {
    background-color: #2d2d2d;
}

.cardEditBtn {
    background-color: #4d4d4d;
    padding: 0rem 0.8rem;
    transition: all 0.2s ease;
}

.cardEditBtn:hover {
    background-color: #6d6d6d;
}

.cardDeleteBtn {
    background-color: #880101;
    padding: 0rem 0.8rem;
    transition: all 0.2s ease;
}

.cardDeleteBtn:hover {
    background-color: #ab0000;
}

