.sidebar {
    background-color: #8a8a8a22;
}

.image {
    width: 6.5rem;
    height: 5rem;
    align-self: center;
    margin: 1rem 0rem;
}

.containerGroup {
    margin-top: 0.8rem;
    gap: 0.5rem;
}

.itemTitle {
    font-size: 0.9rem;
}