.mainContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 0%;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.button {
    padding: 0.75rem 1.5rem;
    background-color: #2563eb;
    color: white;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #1d4ed8;
}

.image {
    width: 5rem;
}