.tableSection {
    height: 100%;
    width: 100%;
}

.table {
    background-color: var(--table-bg-color);
    text-align: center;
}

.tableHeader {
    height: 2.5rem;
    background-color: var(--table-bg-color);
}

.tableHeaderItem {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    padding-top: 0.5rem;
    color: var(--text-color)
}

.tableBodyItem {
    color: white;
    height: 2.7rem;
    font-weight: bold;
    color: var(--text-color)
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;

}

.searchInput {
    background-color: #1f574a;
    padding: 0.1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.paginationBtn {
    background-color: #484848;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

.paginationBtn:hover {
    background-color: #6900af;
}

.pageSelect {
    background-color: #555555;
    color: white;
    width: 4rem;
    border-radius: 8px;
    height: 2.3rem;
}

.filterContainer {
    width: 100%;
    background-color: var(--table-bg-color);
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 6.3rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.filterSelect {
    padding: 0.4rem;
    border-radius: 5px;
    background-color: var(--table-bg-color);
    color: var(--text-color)
}

.inputWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color)
}

.filterInput {
    padding: 0.25rem 1rem;
    border-radius: 10px;
    padding-right: 2.5rem;
    background-color: var(--table-bg-color);
    color: var(--text-color)
}

.searchIcon {
    position: absolute;
    right: 10px;
}

@media (width < 1367px) {
    .tableHeaderItem {
        font-size: 0.8rem;
    }
    
    .tableBodyItem {
        font-size: 0.75rem;
    }
    

}