.container {
    padding: 0 2rem;
}

.addIcon {
    background-color: #00ce86dd;
    padding: 0.4rem;
    margin: 2rem 0;
    transition: all 0.2s ease;
    font-weight: bold;
    color: white;
}

.addIcon:hover {
    background-color: #00fca4dd;
}

.linkIcon {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.tableHeaderItem {
    color: var(--text-color);
    font-weight: bold;
    font-style: italic;
    font-size: 0.9rem;
}

.filterContainer {
    display: flex;
    margin-bottom: 1rem;
}

.filterSelect {
    background-color: #484848b1;
    padding: 0.3rem 0.9rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.inputWrapper {
    position: relative;
    display: flex;
}

.filterInput {
    background-color: #484848b1;
    padding: 0.165rem 0.9rem;
    border-radius: 5px;
}

.searchIcon {
    position: absolute;
    right: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
    margin: auto;
    margin-top: 1.5rem;
}

.paginationBtn {
    background-color: #404040ca;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

.paginationBtn:hover {
    background-color: #525252c6;
}

.pageSelect {
    background-color: #555555;
    color: white;
    width: 4rem;
    border-radius: 8px;
    height: 2.3rem;
}

.btnContainer {
    display: flex;
    gap: 0.4rem;
}

.editBtn {
    padding: 0.7rem;
    background-color: #008f91c6;
    transition: all 0.2s ease;
}

.editBtn:hover {
    background-color: #00b7bac6;
}

.deleteBtn {
    padding: 0.7rem;
    background-color: #690000;
    transition: all 0.2s ease;
}

.deleteBtn:hover {
    background-color: #920000;
}