.mainContainer {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    gap: 2rem;
    padding-bottom: 3rem;
    margin: 2rem 10rem;
    border-radius: 20px;
}

.subTitle {
    color: var(--text-color);
    font-weight: bold;
}

.createContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputCreate {
    background-color: #7d7d7d33;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
}

.textAreaCreate {
    background-color: #7d7d7d33;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    min-height: 10rem;
}

.inputCreate::placeholder {
    color: rgba(255, 255, 255, 0.684);
}

.createTypeContainer {
    display: flex;
    gap: 2rem;
    align-items: center;
    color: var(--text-color);
}

.createTypeLabel {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
}

.selectType {
    width: 11%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: #7d7d7d33;
    color: var(--text-color);
    font-weight: bold;
}

.selectType option {
    background-color: #00000073;
    color: white;
    padding: 10px;
    font-size: 16px;
}

.createBtn {
    width: 12%;
    background-color: #00a47e;
    transition: all 0.2s ease-out;
    font-weight: bold;
    color: white;
}

.createBtn:hover {
    background-color: #00bb8f;
}

.questionsContainer {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}


.questionContainer {
    border-radius: 10px;
    padding-left: 1rem;
    background-color: #7d7d7d33;
    color: var(--text-color);
}

.questionType {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
}

.questionTypeId {
    font-weight: bold;
    margin-right: 0.3rem;
}

.questionTypeSpan {
    font-size: 1.1rem;
    font-style: italic;
    margin-left: 0.3rem;
    font-weight: 700;
}

.questionLabel {
    padding: 1rem 0;
    background-color: #7d7d7d33;
    margin: 1rem 0rem;
    padding-left: 1rem;
    margin-right: 1.5rem;
    font-size: 1.1rem;
    border-radius: 10px;
    font-style: italic;
    width: 95%;
    height: 15rem;
    max-height: 30rem;
    height: 15rem;
}

.questionLabelConsign {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1.1rem;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 0.8rem;
}

.inputCheckbox {
    padding: 0.4rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    background-color: #7d7d7d33;
}


.labelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

}

.checkboxItem {
    padding-left: 1.5rem;
}

.checkboxLabelItem {
    margin-right: 0.5rem;
    transform: scale(1.2);
}

.addOptionBtn {
    background-color: #00a47e;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

.addOptionBtn:hover {
    background-color: #00bb8f;
}

.questionDeleteBtn {
    background-color: #00000095;
    color: white;
    font-weight: bold;
    margin-bottom: 0.7rem;
    font-style: italic;
    font-size: 0.5rem;
    transition: all 0.2s ease;
}

.questionDeleteBtn:hover {
    background-color: #19191995;
}

.checkBoxItemDeleteBtn {
    background-color: #00000095;
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    transition: all 0.2s ease;
}

.checkBoxItemDeleteBtn:hover {
    background-color: #19191995;
}

.formCreateBtn {
    width: 10%;
    background-color: #00a47e;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in;
}

.formCreateBtn:hover {
    background-color: #00b98e;
}

.radioInput {
    background-color: #7d7d7d33;
    width: 4rem;
    padding: 0.1rem 0.8rem;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.radioLabelItem {
    margin-right: 10px;
}

.radioItem {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
    margin: 1.5rem 1rem;
}

.radioLabelItem {
    width: 16px;
    height: 16px;
    border: 2px solid #333;
    border-radius: 50%;
    margin-right: 8px;
    transform: scale(1.2);
}

@media (width < 1367px) {
    .selectType {
        width: 20%;
    }

    .createBtn {
        width: 25%;
    }

    .mainContainer {
        margin: 2rem 0rem;
    }
}