.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--evaluation-card-color);
    border-radius: 10px;
    width: 50%;
    font-size: 1.05rem;
}

.nameContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007070;
    width: 100%;
    font-weight: bold;
    padding: 0.5rem 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    gap: 0.2rem
}

.nameEmployeeContainer {
    display: flex;
    gap: 0.3rem;
}

.infoContainer {
    border-left: 3px solid #CC27B0;
    padding-left: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.4rem 2rem;
}

.formNameTitle {
    margin-right: 0.5rem;
    font-weight: 600;
}

.btnCompleteLink {
    align-self: center;
}

.btnComplete {
    background-color: #ff3fdf71;
    color: white;
    padding: 0 2rem;
    transition: all 0.2s ease;
}

.btnDelete {
    background-color: #ff3f3f71;
    color: white;
    transition: all 0.2s ease;
    border-radius: 15%;
}

.btnDelete:hover {
    background-color: #ff191960;
}

.btnComplete:hover {
    background-color: #ff4ce1a5;
}

.noEvaluations {
    text-align: center;
    margin-top: 7rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.iconTrash {
    right: 0;
    background-color: #007070;
    color: white;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    margin-right: 0.4rem;
}

.iconTrash:hover {
    background-color: transparent;
    color: red;
}

.btnContainer {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    justify-content: start;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
}

@media (width < 1367px) {
    .cardContainer {
        width: 60%;
        font-size: 0.95rem;
    }

    .iconTrash {
        font-size: 1rem;
    }

    .nameEmployeeContainer {
        justify-content: space-around;
    }

}