.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 5rem
}

.welcomeContainer {
    width: 100%;
    text-align: center;
    padding-top: 5rem;
}

.welcomeTitle {
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: bolder;
}

.infoContainer {
    display: grid;
    grid-template-columns: 70% auto;
    justify-items: center;
    width: 100%;
    padding: 0rem 3rem;
}